@import "react-responsive-modal/styles.css";
@import "react-tooltip/dist/react-tooltip.css";
@import "react-toastify/dist/ReactToastify.css";
@import "@babylonlabs-io/core-ui/dist/style.css";
@import "@babylonlabs-io/wallet-connector/dist/style.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #ff7c2a;
  --secondary: "#0DB7BF";
  --toastify-toast-width: 344px;
  --twc-secondary-main: 32 54% 67%; /* 32 54% 64%; */
  --twc-primary-light: 32 54% 67%; /* 32 54% 64%; */
}

@media screen and (min-width: 768px) {
  :root {
    --toastify-toast-width: 671px;
  }
}

/* disable number input arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.main-bg-grdient {
  background: conic-gradient(
    from 206deg at 71.2% -34.81%,
    #000000 0deg,
    #6b5f44 147.67deg,
    #000000 360deg
  );
}

[data-theme="dark"] .gradient-primary {
  background: conic-gradient(
    from 185.79deg at 71.2% -34.81%,
    #000000 0deg,
    #6b5f44 147.67deg,
    #000000 360deg
  );
  /* background: linear-gradient(
    97.5deg,
    rgba(255, 124, 42, 0.2) 2.43%,
    rgba(153, 74, 25, 0.2) 97.63%
  ); */
}

[data-theme="light"] .gradient-primary {
  background: linear-gradient(98.35deg, #fff3ea 2.4%, #fff6ef 117.66%);
}

[data-theme="dark"] .border-primary {
  border: #fff;
}

[data-theme="light"] .border-primary {
  border: #000;
}

.shadow-primary {
  box-shadow: 1px 2px 20px 0px rgba(255, 124, 42, 0.3);
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0 !important;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.fp-selected {
  border: 1px solid var(--primary) !important;
  filter: brightness(0.98);
}

.no-focus {
  outline: none !important;
}

/* tabs selection */
.tab.tab-active:not(.tab-disabled):not([disabled]),
.tab:is(input:checked) {
  border-color: #ff7c2a;
}

.divider {
  @apply border-t border-secondary-strokeLight;
}

.divider:after,
.divider:before {
  height: 1px !important;
  width: 1px !important;
}

[data-theme="dark"] .react-responsive-modal-modal {
  background-color: #1e1e1e;
  color: #fff;
}

[data-theme="light"] .react-responsive-modal-modal {
  background-color: #fff;
  color: #000;
}

body.modal-open {
  overflow: hidden;
}

.tooltip-wrap {
  @apply rounded !bg-surface p-3 !text-accent-secondary !opacity-100 shadow-lg !shadow-[#000000]/20;

  max-width: 25rem;
  white-space: pre-wrap;
  word-wrap: break-word;
  height: fit-content !important;
  z-index: 9999;
}

.tooltip-wrap[data-popper-placement*="top"] .tooltip-arrow {
  @apply border-t-surface;
}

.tooltip-wrap[data-popper-placement*="bottom"] .tooltip-arrow {
  @apply border-b-surface;
}

.tooltip-wrap[data-popper-placement*="left"] .tooltip-arrow {
  @apply border-l-surface;
}

.tooltip-wrap[data-popper-placement*="right"] .tooltip-arrow {
  @apply border-r-surface;
}

body > .tomo-social {
  z-index: 100 !important;
}

@font-face {
  font-family: "Px Grotesk";
  src: url("/fonts/Px-Grotesk/Px-Grotesk-Black.eot");
  src:
    url("/fonts/Px-Grotesk/Px-Grotesk-Black.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/Px-Grotesk/Px-Grotesk-Black.woff2") format("woff2"),
    url("/fonts/Px-Grotesk/Px-Grotesk-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Px Grotesk";
  src: url("/fonts/Px-Grotesk/Px-Grotesk-Bold.eot");
  src:
    url("/fonts/Px-Grotesk/Px-Grotesk-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/Px-Grotesk/Px-Grotesk-Bold.woff2") format("woff2"),
    url("/fonts/Px-Grotesk/Px-Grotesk-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Px Grotesk";
  src: url("/fonts/Px-Grotesk/Px-Grotesk-Regular.eot");
  src:
    url("/fonts/Px-Grotesk/Px-Grotesk-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/Px-Grotesk/Px-Grotesk-Regular.woff2") format("woff2"),
    url("/fonts/Px-Grotesk/Px-Grotesk-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Px Grotesk";
  src: url("/fonts/Px-Grotesk/Px-Grotesk-Light.eot");
  src:
    url("/fonts/Px-Grotesk/Px-Grotesk-Light.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/Px-Grotesk/Px-Grotesk-Light.woff2") format("woff2"),
    url("/fonts/Px-Grotesk/Px-Grotesk-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Px Grotesk";
  src: url("/fonts/Px-Grotesk/Px-Grotesk-Thin.eot");
  src:
    url("/fonts/Px-Grotesk/Px-Grotesk-Thin.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/Px-Grotesk/Px-Grotesk-Thin.woff2") format("woff2"),
    url("/fonts/Px-Grotesk/Px-Grotesk-Thin.woff") format("woff");
  font-weight: 250;
  font-style: normal;
}

@font-face {
  font-family: "Px Grotesk";
  src: url("/fonts/Px-Grotesk/Px-Grotesk-Screen.eot");
  src:
    url("/fonts/Px-Grotesk/Px-Grotesk-Screen.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/Px-Grotesk/Px-Grotesk-Screen.woff2") format("woff2"),
    url("/fonts/Px-Grotesk/Px-Grotesk-Screen.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Px Grotesk Mono";
  src: url("/fonts/Px-Grotesk-Mono/Px-Grotesk-Mono-Light.eot");
  src:
    url("/fonts/Px-Grotesk-Mono/Px-Grotesk-Mono-Light.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/Px-Grotesk-Mono/Px-Grotesk-Mono-Light.woff2") format("woff2"),
    url("/fonts/Px-Grotesk-Mono/Px-Grotesk-Mono-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Px Grotesk Mono";
  src: url("/fonts/Px-Grotesk-Mono/Px-Grotesk-Mono-Regular.eot");
  src:
    url("/fonts/Px-Grotesk-Mono/Px-Grotesk-Mono-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/Px-Grotesk-Mono/Px-Grotesk-Mono-Regular.woff2") format("woff2"),
    url("/fonts/Px-Grotesk-Mono/Px-Grotesk-Mono-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Px Grotesk Mono";
  src: url("/fonts/Px-Grotesk-Mono/Px-Grotesk-Mono-Bold.eot");
  src:
    url("/fonts/Px-Grotesk-Mono/Px-Grotesk-Mono-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/Px-Grotesk-Mono/Px-Grotesk-Mono-Bold.woff2") format("woff2"),
    url("/fonts/Px-Grotesk-Mono/Px-Grotesk-Mono-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* .bbn-toggle-control-active {
  background-color: #113fe1;
} */

.bbn-input {
  display: flex;
  align-items: center;
  border-radius: 0.25rem;
  border-width: 0px;
  border-bottom: 1px solid;
  border-image: linear-gradient(
      90deg,
      #4f4633 -16.24%,
      #887957 68.4%,
      #060504 97.34%
    )
    1;
  /* border-color: hsl(var(--twc-secondary-strokeDark) / 0.5); */
  --tw-bg-opacity: 1;
  background-color: transparent;
  padding: 0.5rem 0rem;
  --tw-text-opacity: 1;
  color: #958263;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}

.bbn-input.bbn-input-error {
  --tw-border-opacity: 1;
  border-color: hsl(
    var(--twc-error-main) /
      var(--twc-error-main-opacity, var(--tw-border-opacity))
  );
}

.bbn-backdrop {
  background-color: #00000099;
}

.bbn-dialog {
  background-color: #000000;
}
