@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #ff7c2a;
  --secondary: #0db7bf;
  --es-text: #ffffff;
  --es-bg: #111111;
  --es-accent: #f5be37;
  --es-text-secondary: "#b2b2b2";
  --es-secondary-2: "#212121";
  --es-border: "#5B5B5B";
  --es-form-bg: linear-gradient(
    186.33deg,
    rgba(64, 64, 64, 0.4) 4.99%,
    rgba(64, 64, 64, 0.2) 94.95%
  );
}

/* disable number input arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

[data-theme="dark"] .gradient-primary {
  background: linear-gradient(
    97.5deg,
    rgba(255, 124, 42, 0.2) 2.43%,
    rgba(153, 74, 25, 0.2) 97.63%
  );
}

[data-theme="light"] .gradient-primary {
  background: linear-gradient(98.35deg, #fff3ea 2.4%, #fff6ef 117.66%);
}

.shadow-primary {
  box-shadow: 1px 2px 20px 0px rgba(255, 124, 42, 0.3);
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0 !important;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.fp-selected {
  border: 1px solid var(--es-accent) !important;
  filter: brightness(0.98);
}

.no-focus {
  outline: none !important;
}

/* tabs selection */
.tab.tab-active:not(.tab-disabled):not([disabled]),
.tab:is(input:checked) {
  border-color: var(--es-accent);
}

.divider:after,
.divider:before {
  height: 1px !important;
  width: 1px !important;
}

[data-theme="dark"] .react-responsive-modal-modal {
  background-color: var(--es-bg);
  color: #fff;
}

[data-theme="light"] .react-responsive-modal-modal {
  background-color: #fff;
  color: #000;
}

body.modal-open {
  overflow: hidden;
}

.primary-button {
  background: var(--es-accent);
  color: var(--es-bg);
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  padding: 8px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wallet-link:hover .wallet-detected-link {
  color: var(--es-accent);
}

.form-bg {
  background: var(--es-form-bg);
}

.checkbox-primary {
  border-color: var(--es-accent) !important;
  border-radius: 0 !important;
  width: 16px;
  height: 16px;
}

.checkbox-primary:checked {
  --chkbg: var(--es-accent) !important;
}

.tooltip-es {
  color: var(--es-text-secondary);
  background-color: var(--es-bg);
  z-index: 1;
  border-radius: 0;
  border: 1px solid var(--es-border);
}

.es-button {
  @apply h-20 w-full border border-es-accent bg-es-accent text-center text-3xl font-medium text-es-black disabled:opacity-70 md:transition-colors md:hover:bg-es-black md:hover:text-es-accent;
}
.es-button-secondary {
  @apply h-20 w-full border border-es-border text-center text-3xl font-medium text-es-text-secondary disabled:opacity-70 md:transition-colors md:hover:bg-es-black md:hover:text-es-accent;
}

.stake-modal {
  background: linear-gradient(
    186.33deg,
    rgba(64, 64, 64, 0.4) 4.99%,
    rgba(64, 64, 64, 0.2) 94.95%
  ) !important;
  background-color: var(--es-bg) !important;
  padding: 0 !important;
  min-height: 480px !important;
  display: flex !important;
  flex-direction: column !important;
  overflow: visible !important;
  position: relative !important;
}

.unbond-modal {
  min-height: unset !important;
}

.range-primary {
  --range-shdw: var(--es-accent);
}

.range-primarys::-webkit-slider-thumb {
  background: var(--es-accent) !important;
}
