name: ci

on:
  pull_request:
    branches:
      - "**"

permissions:
  contents: read

jobs:
  lint_test:
    uses: babylonlabs-io/.github/.github/workflows/reusable_node_lint_test.yml@v0.3.0
    with:
      node-version: 24.2.0
      run-build: true
      run-unit-tests: true

  unit_tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [24.2.0]

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Run unit tests
        run: npm run test
